header.subtitle { text-align: center; }
img.logo { max-width: 40%; }

#wemoved { display: none }
#wemoved:target {
    color: black;
    margin: auto;
    padding: 1rem;
    border: 1px dotted;
    background-color: antiquewhite;
    max-width: 50rem;
    display: block;
}

#wemoved:target a {
    color: blue;
}
ul.triangles{
    list-style: disclosure-closed;
    margin-left: 1em;
}
.news cite a {
    margin: 0px;
}
body {
    text-rendering: optimizeSpeed;
	font-size: 18px;
}
